@tailwind base;
@tailwind components;
@tailwind utilities;

.icons:hover {
    color: #8b5cf6;
    cursor: pointer;
}

.iconbtn:hover .icon{
    color: #8b5cf6;
    cursor: pointer;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #8b5cf6 transparent;
}